* {
    box-sizing: border-box;
    font-family: futura;
}

p,
h2,
h3,
li {
    letter-spacing: 1px;
    list-style: none;
}

a {
    color: #000;
    text-decoration: none;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure {
    margin: 0;
    padding: 0;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

img {
    vertical-align: middle;
}

.btn {
    width: 140px;
    height: 45px;
    border: 2px solid #ffffff;
    border-radius: 1px;
    color: #fff;
    font-size: 12px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 2px;
}

.p_show {
    display: none;
}
